body {
    background-color: #637081;
    font-family     : 'Noto Sans JP', sans-serif;
}

header p {
    color      : #96BBBB;
    font-size  : 47px;
    font-weight: lighter;
    text-align : center;
    text-shadow: 2px 2px 2px #414535;
}

#projects {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    color         : white;
    margin        : auto;
    width         : 500px;
    padding       : 30px;
    border-radius : 20px;
    margin-top    : 60px;
    text-align    : center;
    flex-wrap     : wrap;
    box-shadow    : 1px 1px 20px 6px #96BBBB;
    margin-bottom: 50px;
}

a {
    text-decoration: none;
    color          : unset;
}

#projects p {
    padding    : 3px;
    color      : #e5dbff;
    font-size  : 17px;
    font-weight: lighter;
}

#projects p:hover {
    color      : #96BBBB;
    text-shadow: 2px 2px 2px #414535;
}


#message {
    width           : 500px;
    background-color: white;
    border-radius   : 20px;
    top             : 20px;
    right           : 20px;
    position        : fixed;
}

#message p {
    color     : red;
    padding   : 10px;
    text-align: center;
    font-size : small;
}

#message img {
    width        : 100%;
    object-fit   : contain;
    overflow     : hidden;
    border-radius: 20px;

}