body {
  font-family: 'Noto Sans KR', sans-serif;
  margin: unset;
}
header {
  margin: 0 100px;
  width: 100%;
  padding: 20px 50px 0 50px;
  top: 0;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 2;
}
header #wrapper {
  width: 800px;
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: unset;
}
a:hover {
  color: #618B4A;
  cursor: pointer;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 50px;
  height: 50px;
}
.logo p {
  font-size: 30px;
  font-family: 'Open Sans Condensed', sans-serif;
  margin: unset;
  color: #618B4A;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 100px 70px 100px;
}
main #maininfo {
  display: flex;
  align-items: center;
}
main #maininfo .bigtitle {
  font-size: 75px;
  font-weight: bold;
  margin-bottom: 10px;
}
main #maininfo .small-ttl {
  font-size: 35px;
  font-weight: lighter;
  padding: 5px 10px;
  margin: unset;
  background-color: #AFBC88;
  width: 200px;
}
main #maininfo .intro {
  width: 650px;
  font-weight: 300;
}
main #maininfo .main-img img {
  width: 500px;
}
main #scroll {
  display: flex;
  align-items: center;
  color: grey;
  margin-top: 50px;
  animation: dance 5s infinite ease-in-out;
}
main #scroll img {
  width: 40px;
  height: 40px;
}
@keyframes dance {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}
#about {
  margin: 0 100px;
  padding: 55px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
#about img {
  width: 380px;
  padding: 50px;
}
#about p {
  font-weight: 300;
  padding: 0 60px;
}
#about #name {
  font-size: 75px;
  margin: unset;
  padding-left: 60px;
}
.title {
  font-size: 75px;
  margin: unset;
  padding-left: 60px;
}
#services {
  margin: 0 100px;
  padding: 55px 0;
  font-weight: lighter;
}
#services ol > li {
  padding-top: 10px;
}
#services ul > li {
  list-style-type: circle;
}
#services #service-list {
  display: flex;
  justify-content: center;
}
#feedback {
  margin: 0 100px 20px;
  padding: 55px 0;
  font-weight: lighter;
}
#feedback #album {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
#feedback #album img {
  height: 300px;
  padding: 10px;
}
#contact {
  padding: 20px 100px;
  height: 585px;
  color: white;
  background-color: #7AA095;
}
#contact .wrapper {
  width: 800px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}
#contact .wrapper img {
  width: 255px;
}
#contact .wrapper .questions {
  display: flex;
  flex-direction: column;
}
#contact .wrapper .questions textarea,
#contact .wrapper .questions input {
  padding: 5px 0 5px 20px;
  border: unset;
}
#contact .wrapper .questions label {
  margin-top: 10px;
}
#contact .wrapper .questions button {
  font-size: 16px;
  color: white;
  border: unset;
  background-color: #618B4A;
  padding: 10px;
  margin-top: 15px;
}
#contact .wrapper #icons {
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact .wrapper #icons img {
  width: 40px;
  padding: 15px;
}
#contact #copyright {
  text-align: center;
}
@media screen and (max-width: 900px) {
  header {
    margin: 20px 0 0 20px;
  }
  .main-img {
    display: none;
  }
}
