body {
    margin: unset;
}

li:hover,
button:hover,
#socials-img img:hover {
    cursor: pointer;
}

.main-img {
    background       : url(../img/bg.png);
    background-repeat: no-repeat;
    background-size  : contain;
    width            : 100%;
    height           : 110vh;
    min-height       : 770px;
    display          : flex;
    flex-direction   : column;
    justify-content  : space-between;
    align-items      : center;
    color            : white;
}

#logo {
    padding: 41px;
}

.bigtitle {
    font-family   : 'Bebas Neue';
    font-size     : 60px;
    word-spacing  : 10px;
    letter-spacing: 5px;
    margin-bottom : 5px;
}

.smalltitle,
.scroll {
    text-align : center;
    font-family: 'Open Sans';
}

.scroll {
    word-spacing  : 10px;
    letter-spacing: 3px;
    padding-bottom: 71px;
    text-shadow   : 5px 4px 1px rgb(82, 110, 113);
    animation: dance 5s infinite ease-in-out;
    cursor        : pointer;
}

@keyframes dance {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0px);
    }
}

.wrapper {
    width          : 950px;
    display        : flex;
    align-items    : center;
    margin         : auto;
    justify-content: space-between;
    padding        : 25px 0;
}

hr {
    margin: 0;
}

header {
    width      : 100%;
    font-family: 'Open Sans';
    font-weight: 600;
    color      : rgba(72, 85, 91, 1);
}

nav ul {
    list-style     : none;
    margin         : unset;
    display        : flex;
    justify-content: space-between;
    width          : 100%;
    padding        : unset;
}

nav li:not(:last-child) {
    padding-right: 50px;
}

.current {
    color: rgba(0, 164, 229, 1);
}

main article {
    align-items  : flex-end;
    margin-bottom: 100px;
}

#story {
    display        : flex;
    flex-direction : column;
    justify-content: center;
}

#story h3 {
    text-align   : center;
    margin-bottom: 10px;
}

#line {
    margin-bottom: 50px;
}

main {
    font-family: 'Open Sans';
    width      : 950px;
    margin     : auto;
    color      : rgba(72, 85, 91, 1);
}

.text-box {
    width: 405px;
}

.blue {
    color: #00A4E5;
}

.main-txt {
    font-size     : 20px;
    margin-bottom : 40px;
    letter-spacing: 0.2px;
    font-weight   : 700;
    letter-spacing: 0.42px;
}

.inline {
    white-space: nowrap;
}

.thin-txt {
    font-size    : 13px;
    font-weight  : 400px;
    margin-bottom: unset;
}

.story-img {
    height      : 225px;
    margin-right: 20px;
}

.story-img:last-child {
    margin-right: unset;
}

#capabilities {
    margin-bottom: 70px;
}

.underline {
    border-bottom : 2px solid #00A4E5;
    padding-bottom: 10px;
}

.align-right {
    display        : flex;
    align-items    : center;
    width          : 600px;
    justify-content: space-between;
}

.align-right p {
    font-size     : 11px;
    color         : rgba(72, 85, 91, 1);
    letter-spacing: 0.2px;
    width         : 405px;
}

button {
    border    : none;
    background: #00A4E5;
    color     : white;
    font-size : 13px;
    width     : 150px;
    height    : 40px;
    text-align: center;
}

main article,
.images,
#capabilities,
#capability-items {
    display        : flex;
    justify-content: space-between;
}

.item {
    border: 1px solid rgba(230, 230, 230, 1);
    color : #48555B;
    width : 305px;
    height: 330px;
}

.bold {
    font-weight   : 700;
    letter-spacing: 0.42px;
    padding       : 0 23px;
}

.skinny {
    font-size     : 13px;
    letter-spacing: 0.2px;
    padding       : 0 23px;

}

.item-img {
    padding: 35px 0 0 23px;
}

#get-in-touch {
    background       : url(../img/bottom.png);
    background-repeat: no-repeat;
    background-size  : 100%;
    min-height       : 498px;
    width            : 100%;
    font-family      : 'Open Sans';
    margin-top       : 90px;

}

.second-wrap {
    width          : 950px;
    margin         : auto;
    display        : flex;
    align-items    : center;
    flex-direction : column;
    justify-content: center;
}

#big-title {
    color      : rgba(72, 85, 91, 1);
    padding-top: 120px;
    font-size  : 30px;
    font-weight: bold;
    text-align : center;
}

footer {
    background    : #171819;
    width         : 100%;
    color         : white;
    font-family   : 'Open Sans';
    letter-spacing: 0.85px;
}

.foot-wrap {
    width : 950px;
    margin: auto;
}

.foot-wrap input {
    height : 40px;
    margin : unset;
    padding: 0 10px;
    border : none;
}

#signup {
    display        : flex;
    justify-content: center;
    align-items    : center;
    padding        : 30px 0 75px 0;
}

#signup p {
    font-weight : bold;
    font-size   : 22px;
    margin-right: 70px;
}

#contacts {
    display        : flex;
    justify-content: space-between;
    font-size      : 11px;
}

#contacts p {
    font-weight: 400;
    margin     : 20px 0;
    line-height: 20px;
}

#contacts ul {
    margin         : unset;
    padding        : unset;
    list-style-type: none;
    font-weight    : 700;
}

#contacts .company {
    width: 250px;
}

.links {
    display        : flex;
    width          : 260px;
    justify-content: space-between;
}

.links li {
    padding-bottom: 10px;
}

#socials-img {
    margin-top     : 55px;
    display        : flex;
    justify-content: space-between;
    width          : 90px;
}

#socials-img img {
    width : 15px;
    height: 15px;
}

#copyright {
    text-align: center;
    font-size : 11px;
    margin    : unset;
    padding   : 20px 0;
}